<!DOCTYPE html>
<html>
<head>
<title>Список пользователей</title>
<meta charset="utf-8" />
</head>
<body>
<h1>Добавление пользователя</h1>
<form method="POST">
<label>Имя</label><br>
<input name="name" class="field" /><br><br>
<label>Возраст</label><br>
<input name="age" type="number" class="field" min="1" max="110" /><br><br>
<input type="submit" value="Отправить" />
</form>
<h1>Список пользователей</h1>
<table>
<tr><th>Name</th><th>Age</th><th></th></tr>
{{#each users}}
<tr>
<td>{{this.name}}</td>
<td>{{this.age}}</td>
<td>{{this.data}}</td>
</tr>
{{/each}}
</table>
</body>
</html>